.page ~ .page {
	opacity: 0;
	// transition: 0.9s linear all;
	
}

.page ~ .home {
	transition-delay: 0.9s;
}

.about, .contact {
	transition: 0.2s linear all;
	.pageTitle {
		transition: 0.2s linear all;
	}
	&.ng-enter {
		.pageTitle {
			opacity: 0;
		}
		&.ng-enter-active {
			.pageTitle {
				opacity: 1;
			}
		}
	}
	&.ng-leave {
		.pageTitle {
			opacity: 1;
		}
		&.ng-leave-active {
			.pageTitle {
				opacity: 0;
			}
		}
	}
}

.home {
	transition: 0.9s linear all;
	.heroName, .heroHeader, .heroSubheader, .homeMenu, .socialLinkList {
		transition: 0.3s linear all;
	}
	.heroHeader {
		transition-delay: 0.15s;
	}
	.heroSubheader {
		transition-delay: 0.3s;
	}
	.homeMenu {
		transition-delay: 0.45s;
	}
	.socialLinkList {
		transition-delay: 0.6s;
	}
}

.home.ng-enter {
	.heroName, .heroHeader, .heroSubheader, .homeMenu, .socialLinkList {
		opacity: 0;
	}
}

.home.ng-enter.ng-enter-active {
	.heroName, .heroHeader, .heroSubheader, .homeMenu, .socialLinkList {
		opacity: 1;
	}
}

.home.ng-leave {
	.heroName, .heroHeader, .heroSubheader, .homeMenu, .socialLinkList {
		opacity: 1;
	}
}

.home.ng-leave.ng-leave-active {
	.heroName, .heroHeader, .heroSubheader, .homeMenu, .socialLinkList {
		opacity: 0;
	}
}